* {
    margin: 0 auto;
}
h1, h2, div,p {
    text-align: center;
    font-family: 'MuseoModerno', cursive;
}
body {
    background-image: url("pacmangame.jpg");
    background-color: white;
}

body:hover {
    background-color: blue;
    animation-name: test1;
    animation-duration: 10s;
    animation-iteration-count: infinite;
}
.btn {
    justify-content: center;
}

.gamediv {
    text-align: center;
}

@keyframes test1 {
    0% {background-color: white;}
    25% {background-color: yellow;}
    50% {background-color: red;}
    75% {background-color: yellow;}
    100% {background-color: white;}
}

canvas {
    border: 15px solid goldenrod;
    background: white;
}