* {
    margin: 0 auto;
}
h1, h2,h3, div,p {
    text-align: center;
    font-family: 'MuseoModerno', cursive;
}
body {
    background-image: url("controller.png");
    background-repeat: no-repeat;
    background-position: 50% 70%;
    background-color: blue;
    animation-name: test1;
    animation-duration: 10s;
    animation-iteration-count: infinite;
}

h1:hover, h2:hover, h3:hover {
    
}
.btn {
    justify-content: center;
}

.gamediv {
    text-align: center;
}

@keyframes test1 {
    0% {background-color: white;}
    25% {background-color: yellow;}
    50% {background-color: red;}
    75% {background-color: yellow;}
    100% {background-color: white;}
}

canvas {
    border: 15px groove black;
    background:rgba(255, 255, 255, .5);
};
}